@import "bootstrap/bootstrap.less";

.wrapper {
	background-color: #fff;
	padding: 20px;
	margin: -20px 0px 0 20px;
	border-radius: 0 0 6px 6px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .15);

	img {
		display: block;
		margin: 0 auto;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	color: #333;
	margin-bottom: 10px;
}

body {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: @grayLight;
}

.hero-unit {
	background-color: @grayLight;
}

.indexContent {
	list-style : none;

	.divider {
		height: 1px;
		margin: 8px 1px;
		overflow: hidden;
		background-color: #E5E5E5;
		border-bottom: 1px solid white;
	}
	margin-bottom: 20px;
}
