body{background-image:url('../img/bg.jpg');}
.wrapper{background-color:#fff;padding:20px;margin:20px 0px 0 20px;border-radius:6px;box-shadow:0 1px 2px rgba(0, 0, 0, 0.15);}
.sidebar-nav{margin:20px 20px 0 0;}
h1,h2,h3,h4,h5,h6{font-family:'Helvetica Neue',Helvetica,sans-serif;font-weight:normal;}
h2,h3,h4,h5,h6{text-shadow:rgba(0, 0, 0, 0.01) 2px 2px;}
h1{background-color:#f8452e;padding:10px;border-radius:0 6px 6px 0;margin-left:-20px;padding-left:20px;color:#fff;text-shadow:rgba(0, 0, 0, 0.5) 2px 2px;margin-bottom:10px;}
.pre{border-radius:0;border-width:1px 0 0 0 !important;border-color:#f8452e !important;}
.gist .gist-file .gist-data{background:whiteSmoke !important;}
