<!doctype html>
<head>
  <meta charset="utf-8">
  <title>iOS tutorial</title>
  <meta name="description" content="iOS tutorial">
  <link rel="stylesheet" href="assets/css/bootstrap.css">
  <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
	
  <div class="header container">
  </div>

      <div class="row-fluid">			  
  			  <div class="span9">
            <div class="wrapper">
            {{ content }}
            </div>
  			  </div>			  

          <div class="span3">
            <div class="well sidebar-nav">
              <ul class="nav nav-list">
                <li class="nav-header">Introducción</li>
                <li><a href="helloworld.html">Hello World</a></li>
                <li><a href="objcintro.html">Introducción ObjectiveC</a></li>
                <li><a href="outletsActions.html">Outlets y Actions</a></li>
                <li><a href="multiViews.html">Varias vistas</a></li>
                <li class="nav-header">MultiView</li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li class="nav-header">Sidebar</li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
              </ul>
            </div>
          </div>
  		</div>
    </div>

</body>
</html>