<!doctype html>
<head>
    <meta charset="utf-8">
    <title>Curso iOS</title>
    <meta name="description" content="iOS tutorial">
    <link rel="stylesheet" href="assets/js/prettify/prettify.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <script src="assets/js/jquery-1.7.2.min.js"></script>
    <script src="assets/js/bootstrap-dropdown.js"></script>
    <script src="assets/js/prettify/prettify.js"></script>
    <script src="//platform.twitter.com/widgets.js"></script>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <ul class="nav">
        <li><a class="brand" href="index.html">Curso iOS</a></li>
        <li><a href="index.html">Home</a></li>
        <li><a href="https://github.com/axelhzf/ios-curso">Repositorio</a></li>
        <li class="dropdown" id="menu1">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
              Contenido
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">              
              <li><a href="helloworld.html">Hello World</a></li>
              <li><a href="objcintro.html">Introducción ObjectiveC</a></li>
              <li><a href="outletsActions.html">Outlets y Actions</a></li>
              <li><a href="multiViews.html">Varias vistas</a></li>
              <li class="divider"></li>
              <li><a href="#">Objetivo</a></li>
              <li><a href="projectAndModel.html">Creación del proyecto y modelo</a></li>
              <li><a href="tables.html">Tablas</a></li>
              <li><a href="newCheckin.html">Nuevo Check-in</a></li>
              <li><a href="map.html">Mapa</a></li>
              <li><a href="location.html">Localización</a></li>
              <li><a href="settings.html">Settings</a></li>
              <li><a href="webservice.html">Web services</a></li>
              <li><a href="share.html">Compartir</a></li>
              <li><a href="pulltorefresh.html">Pull to Refresh</a></li>
              <li><a href="ipad.html">iPad</a></li>
              <li class="divider"></li>
              <li><a href="#">Three20</a></li>
              <li><a href="cocos2d.html">Cocos2d</a></li>
              <li class="divider"></li>
              <li><a href="more.html">Más recursos</a></li>
            </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="wrapper">
            {{ content }}
  </div>
</div>


<script>     
     $('pre').addClass('prettyprint');
     prettyPrint();
</script>

</body>
</html>