<!doctype html>
<head>
    <meta charset="utf-8">
    <title>iOS tutorial</title>
    <meta name="description" content="iOS tutorial">
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>

<div class="header container">
</div>

<div class="row-fluid">
    <div class="span9">
        <div class="wrapper">
            {{ content }}
        </div>
    </div>

    <div class="span3">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <li class="nav-header">Introducción</li>
                <li><a href="helloworld.html">Hello World</a></li>
                <li><a href="objcintro.html">Introducción ObjectiveC</a></li>
                <li><a href="outletsActions.html">Outlets y Actions</a></li>
                <li><a href="multiViews.html">Varias vistas</a></li>
                <li class="nav-header">twosquare</li>
                <li><a href="#">Objetivo</a></li>
                <li><a href="projectAndModel.html">Creación del proyecto y modelo</a></li>
                <li><a href="tables.html">Tablas</a></li>
                <li><a href="newCheckin.html">Nuevo Check-in</a></li>
                <li><a href="map.html">Mapa</a></li>
                <li><a href="location.html">Localización</a></li>
                <li><a href="settings.html">Settings</a></li>
                <li><a href="#">Web services</a></li>
                <li><a href="#">Pull update</a></li>
                <li><a href="#">Twitter</a></li>
                <li class="nav-header">Otros</li>
                <li><a href="#">iPad</a></li>
                <li><a href="#">Three20</a></li>
                <li><a href="#">Cocos2d</a></li>
            </ul>
        </div>
    </div>
</div>
</div>

</body>
</html>